# Random Forest -- Ensamble Learning Bagging technique...

In [2]:
import seaborn as sns

In [3]:
df = sns.load_dataset('tips')

In [4]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [5]:
df.dtypes

total_bill     float64
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
dtype: object

In [6]:
df['time'].unique()

['Dinner', 'Lunch']
Categories (2, object): ['Lunch', 'Dinner']

In [7]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
df['time'] = encoder.fit_transform(df['time'])

In [33]:
df

     total_bill   tip     sex smoker   day  time  size
0         16.99  1.01  Female     No   Sun     0     2
1         10.34  1.66    Male     No   Sun     0     3
2         21.01  3.50    Male     No   Sun     0     3
3         23.68  3.31    Male     No   Sun     0     2
4         24.59  3.61  Female     No   Sun     0     4
..          ...   ...     ...    ...   ...   ...   ...
239       29.03  5.92    Male     No   Sat     0     3
240       27.18  2.00  Female    Yes   Sat     0     2
241       22.67  2.00    Male    Yes   Sat     0     2
242       17.82  1.75    Male     No   Sat     0     2
243       18.78  3.00  Female     No  Thur     0     2

[244 rows x 7 columns]

In [9]:
df['time'].value_counts()

time
0    176
1     68
Name: count, dtype: int64

In [10]:
df.isnull().sum()

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

# Independent and dependent features

In [11]:
X = df.drop(['time'], axis= 1)
y = df.time

In [12]:
X.head()

   total_bill   tip     sex smoker  day  size
0       16.99  1.01  Female     No  Sun     2
1       10.34  1.66    Male     No  Sun     3
2       21.01  3.50    Male     No  Sun     3
3       23.68  3.31    Male     No  Sun     2
4       24.59  3.61  Female     No  Sun     4

In [13]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: time, dtype: int64

In [14]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y, test_size=0.30, random_state=42)

In [15]:
X_train.shape

(170, 6)

In [16]:
X_test.shape

(74, 6)

In [17]:
df.head()

   total_bill   tip     sex smoker  day  time  size
0       16.99  1.01  Female     No  Sun     0     2
1       10.34  1.66    Male     No  Sun     0     3
2       21.01  3.50    Male     No  Sun     0     3
3       23.68  3.31    Male     No  Sun     0     2
4       24.59  3.61  Female     No  Sun     0     4

In [18]:
from sklearn.impute import SimpleImputer # Handling missing valuse
from sklearn.preprocessing import OneHotEncoder # Handling Categorical features
from sklearn.preprocessing import StandardScaler # Handling Feature dcaling min max or scalar

from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

In [34]:
df.head()

   total_bill   tip     sex smoker  day  time  size
0       16.99  1.01  Female     No  Sun     0     2
1       10.34  1.66    Male     No  Sun     0     3
2       21.01  3.50    Male     No  Sun     0     3
3       23.68  3.31    Male     No  Sun     0     2
4       24.59  3.61  Female     No  Sun     0     4

In [19]:
numerical_data = ['total_bill', 'tip', 'size']
categorical_data = ['sex', 'smoker', 'day']

In [20]:
numerical_pipeline = Pipeline(
    [('imputer',SimpleImputer(strategy='median')),# missing values
     ('scalar', StandardScaler())# scaling using z score
     ]
)

categorical_pipeline = Pipeline(
    [
        ('imputer',SimpleImputer(strategy='most_frequent')),
        ('encoder',OneHotEncoder())
    ]
)

In [21]:
preprocessor = ColumnTransformer(
    [('numerical_pipeline', numerical_pipeline, numerical_data),
     ('categorical_pipeline', categorical_pipeline, categorical_data)
     ]
)

In [22]:
X_train = preprocessor.fit_transform(X_train)
X_test = preprocessor.transform(X_test)

In [35]:
X_train

array([[-0.52806763, -0.06086095, -0.62551827, ...,  1.        ,
         0.        ,  0.        ],
       [ 0.01509878, -0.06086095,  1.52272629, ...,  1.        ,
         0.        ,  0.        ],
       [ 1.58277419,  0.4044516 ,  1.52272629, ...,  0.        ,
         1.        ,  0.        ],
       ...,
       [-1.60777647, -1.42942727, -0.62551827, ...,  0.        ,
         0.        ,  0.        ],
       [ 1.58056619,  0.31549479, -0.62551827, ...,  0.        ,
         1.        ,  0.        ],
       [ 2.64813107, -0.40300253,  0.44860401, ...,  1.        ,
         0.        ,  0.        ]])

In [23]:
y_train

234    0
227    0
180    0
5      0
56     0
      ..
106    0
14     0
92     0
179    0
102    0
Name: time, Length: 170, dtype: int64

In [24]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score,precision_score,recall_score,f1_score
# random_forest_classifier = RandomForestClassifier()

In [25]:
# automate model training process
models = {
    'reandom_forest_classifier' : RandomForestClassifier(),
    'Decision_tree_classifier' : DecisionTreeClassifier()
}

In [26]:
def evaluate_model(X_train,y_train,X_test,y_test,models):
    report = {} 
    for i in range (len(models)):
        model = list(models.values())[i]
        
        model.fit(X_train,y_train)
        
        y_test_pred = model.predict(X_test)
        
        test_model_score = accuracy_score(y_test, y_test_pred)
        
        report[list(models.keys())[i]] = test_model_score
    return report

In [27]:
evaluate_model(X_train,y_train,X_test,y_test,models)

{'reandom_forest_classifier': 0.972972972972973,
 'Decision_tree_classifier': 0.9459459459459459}