In [27]:
set = {}
type(set)

dict

In [28]:
set1 = {1,2,3,4,5}
type(set1)

set

In [29]:
set2 = {1,1,1,2,3,4,3,5,6,7,5,77,7,7,55,55,98,89,98}

In [30]:
set2

{1, 2, 3, 4, 5, 6, 7, 55, 77, 89, 98}

In [31]:
tuple(set2)

(1, 2, 3, 4, 5, 6, 7, 98, 77, 55, 89)

In [32]:
l1 =list(set2)
l1

[1, 2, 3, 4, 5, 6, 7, 98, 77, 55, 89]

In [33]:
set1.add('Abhishek')
set1

{1, 2, 3, 4, 5, 'Abhishek'}

In [34]:
set1.add('Abhishek')
set1

{1, 2, 3, 4, 5, 'Abhishek'}

In [37]:
set3 = {1,2,3,4,[2,3,4]}

TypeError: unhashable type: 'list'

In [38]:
set3 = {1,2,3,4,(4,5,6)}

In [39]:
set1[2]

TypeError: 'set' object is not subscriptable

In [ ]:
set1.difference(set2)