In [2]:
tuple = ('abhishek', 'anirudh', 'apurva')
tuple

('abhishek', 'anirudh', 'apurva')

In [3]:
tuple[2]

'apurva'

In [4]:
var = tuple[2] = 'jay'

TypeError: 'tuple' object does not support item assignment

In [ ]:
tuple[3] = 'krishna'

TypeError: 'type' object does not support item assignment

In [ ]:
tuple[::-1]

('apurva', 'anirudh', 'abhishek')

In [ ]:
tuple[0:2]

('abhishek', 'anirudh')

In [ ]:
tuple.count('abhishek')

1

In [ ]:
tuple.index('apurva')

2

In [ ]:
for i in tuple:
    print(i, "data type =", type(i))

abhishek data type = <class 'str'>
anirudh data type = <class 'str'>
apurva data type = <class 'str'>

In [ ]:
tuple * 3

('abhishek',
 'anirudh',
 'apurva',
 'abhishek',
 'anirudh',
 'apurva',
 'abhishek',
 'anirudh',
 'apurva')

In [ ]:
max(tuple)

'apurva'

In [ ]:
min(tuple)

'abhishek'

In [ ]:
tuple1 = (1,2,3,4)

In [ ]:
tuple2 = (5,6,7,8)

In [ ]:
tuple1 + tuple2

(1, 2, 3, 4, 5, 6, 7, 8)

In [ ]:
tuple3 = (tuple1,tuple2 ,tuple)

In [ ]:
tuple3

((1, 2, 3, 4), (5, 6, 7, 8), ('abhishek', 'anirudh', 'apurva'))

In [5]:
tuple4 = (1,12,3,4,3,3,5,6)
tuple4

(1, 12, 3, 4, 3, 3, 5, 6)