In [31]:
d = {}
type(d)

dict

In [32]:
dictionary = {'name' : 'abhishek', 'surname' : 'wwaghchaure', 'Age' : 25}
dictionary

{'name': 'abhishek', 'surname': 'wwaghchaure', 'Age': 25}

In [33]:
d2 = {'name' :'Abhishek', 'name' : 'Apurva'}
d2

{'name': 'Apurva'}

In [34]:
d3 = {123 : 'Abhishek'}
d3

{123: 'Abhishek'}

In [35]:
d4 = {('name','abhishek'): 'abc'}
d4

{('name', 'abhishek'): 'abc'}

In [36]:
d5 = {['abhishel', 2, 3] : 'abc'}
d5

TypeError: unhashable type: 'list'

In [ ]:
d6 = {'abc' : ['abhishek', 'waghchaure']}
d6

{'abc': ['abhishek', 'waghchaure']}

In [ ]:
d7 = {('1,2,3'): "Abhishek"}
d7

{'1,2,3': 'Abhishek'}

In [ ]:
d8 = {{1,2} : 'Abhishek'}
d8

TypeError: unhashable type: 'set'

In [ ]:
d9 = {'BatchName' : ['Data Science Masters', 'Java Developer', 'DEV Ops', 'C'], 
      'StartDay' : (28, 29, 30),
      'Mentors' : {'Abhishek',
                   'Apurva',
                   'Rohan'}}
d9

{'BatchName': ['Data Science Masters', 'Java Developer', 'DEV Ops', 'C'],
 'StartDay': (28, 29, 30),
 'Mentors': {'Abhishek', 'Apurva', 'Rohan'}}

In [ ]:
d9['BatchName']

['Data Science Masters', 'Java Developer', 'DEV Ops', 'C']

In [ ]:
type(d9['BatchName'])

list

In [ ]:
type(d9['StartDay'])

tuple

In [ ]:
type(d9['Mentors'])

set

In [ ]:
d9['Mentors'] = 'Anirudha'
d9

{'BatchName': ['Data Science Masters', 'Java Developer', 'DEV Ops', 'C'],
 'StartDay': (28, 29, 30),
 'Mentors': 'Anirudha'}

In [37]:
d9['name'] = 'abhishek waghchaure'
d9

{'BatchName': ['Data Science Masters', 'Java Developer', 'DEV Ops', 'C'],
 'StartDay': (28, 29, 30),
 'Mentors': 'Anirudha',
 'name': 'abhishek waghchaure'}

In [40]:
d9['name'].upper()
d9

{'BatchName': ['Data Science Masters', 'Java Developer', 'DEV Ops', 'C'],
 'StartDay': (28, 29, 30),
 'Mentors': 'Anirudha',
 'name': 'abhishek waghchaure'}

In [41]:
del d9['name']
d9

{'BatchName': ['Data Science Masters', 'Java Developer', 'DEV Ops', 'C'],
 'StartDay': (28, 29, 30),
 'Mentors': 'Anirudha'}

In [43]:
len(d9)

3

In [46]:
d9.values()

dict_values([['Data Science Masters', 'Java Developer', 'DEV Ops', 'C'], (28, 29, 30), 'Anirudha'])

In [47]:
type(d9)

dict

In [49]:
d9.keys()

dict_keys(['BatchName', 'StartDay', 'Mentors'])

In [50]:
d9.items()

dict_items([('BatchName', ['Data Science Masters', 'Java Developer', 'DEV Ops', 'C']), ('StartDay', (28, 29, 30)), ('Mentors', 'Anirudha')])

In [51]:
list(d9.items())

[('BatchName', ['Data Science Masters', 'Java Developer', 'DEV Ops', 'C']),
 ('StartDay', (28, 29, 30)),
 ('Mentors', 'Anirudha')]

In [52]:
d10 = d9.copy()

In [53]:
d10

{'BatchName': ['Data Science Masters', 'Java Developer', 'DEV Ops', 'C'],
 'StartDay': (28, 29, 30),
 'Mentors': 'Anirudha'}

In [55]:
d11 = d10
d11

{'BatchName': ['Data Science Masters', 'Java Developer', 'DEV Ops', 'C'],
 'StartDay': (28, 29, 30),
 'Mentors': 'Anirudha'}

In [57]:
d10.pop('Mentors')

'Anirudha'

In [58]:
d10

{'BatchName': ['Data Science Masters', 'Java Developer', 'DEV Ops', 'C'],
 'StartDay': (28, 29, 30)}

In [59]:
d11 = {'key1':'value1', 'key2' : 'value2'}
d12 = {'key3' : 'value3', 'key4' : 'value4'}

In [61]:
d11.update(d12)
d11

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3', 'key4': 'value4'}

In [62]:
d12

{'key3': 'value3', 'key4': 'value4'}

In [63]:
d12.update(d9)

In [64]:
d12

{'key3': 'value3',
 'key4': 'value4',
 'BatchName': ['Data Science Masters', 'Java Developer', 'DEV Ops', 'C'],
 'StartDay': (28, 29, 30),
 'Mentors': 'Anirudha'}

In [65]:
d12.get('abhi')

In [66]:
d12.get('key3')

'value3'

In [68]:
d12['key3']

'value3'

<h1>Dictionary Comprehension</h1>

In [70]:
import math
{i : math.log10(i) for i in range(1,11)}

{1: 0.0,
 2: 0.3010299956639812,
 3: 0.47712125471966244,
 4: 0.6020599913279624,
 5: 0.6989700043360189,
 6: 0.7781512503836436,
 7: 0.8450980400142568,
 8: 0.9030899869919435,
 9: 0.9542425094393249,
 10: 1.0}