In [1]:
first_array = [1,2,3]
second_array = [2,3,2,2,2] 

print(first_array[2])
first_array.append([4,5])
print(first_array)
first_array[3] = 9
print(first_array)
first_array.remove(9)
print(first_array)
first_array.remove(first_array[1])
print(first_array)
print(second_array[1:4])

import numpy as np
np_second_array = np.array (second_array)
print(type(second_array))
print(type(np_second_array))

3
[1, 2, 3, [4, 5]]
[1, 2, 3, 9]
[1, 2, 3]
[1, 3]
[3, 2, 2]
<class 'list'>
<class 'numpy.ndarray'>

In [2]:
np_second_array[0:3]

array([2, 3, 2])

In [3]:
second_array[0:3]

[2, 3, 2]

In [ ]:
for i in second_array:

In [22]:
europe = {'spain':'madrid', 'france':'paris', 'germany':'berlin',
          'norway':'oslo', 'italy':'rome', 'poland':'warsaw', 'austria':'vienna' }

In [12]:
for key, values in europe.items():
    print (key,values)

spain madrid
france paris
germany berlin
norway oslo
italy rome
poland warsaw
austria vienna

In [13]:
europe.items()

dict_items([('spain', 'madrid'), ('france', 'paris'), ('germany', 'berlin'), ('norway', 'oslo'), ('italy', 'rome'), ('poland', 'warsaw'), ('austria', 'vienna')])

In [23]:
europe['india']='delhi'

In [24]:
print(europe)

{'spain': 'madrid', 'france': 'paris', 'germany': 'berlin', 'norway': 'oslo', 'italy': 'rome', 'poland': 'warsaw', 'austria': 'vienna', 'india': 'delhi'}

In [27]:
new_data= {('a','b'),('c','d')}

In [29]:
europe.update(new_data)

In [30]:
europe

{'spain': 'madrid',
 'france': 'paris',
 'germany': 'berlin',
 'norway': 'oslo',
 'italy': 'rome',
 'poland': 'warsaw',
 'austria': 'vienna',
 'india': 'delhi',
 'c': 'd',
 'a': 'b'}

In [32]:
europe['spain']

'madrid'

In [33]:
import pandas as pd

In [35]:
pd.DataFrame('europe')

ValueError: DataFrame constructor not properly called!

In [36]:
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [30, 25, 35],
    'City': ['New York', 'San Francisco', 'Los Angeles']
}

In [44]:
df = pd.DataFrame(data)

In [41]:
data[data['Age']] > 25 & data[data['City'] == 'New York']

TypeError: unhashable type: 'list'

In [45]:
type(df)

pandas.core.frame.DataFrame

In [46]:
df['Age'] > 25

0     True
1    False
2     True
Name: Age, dtype: bool

In [47]:
type(df['Age'] > 25)

pandas.core.series.Series

In [48]:
df[df['Age'] > 25]

      Name  Age         City
0    Alice   30     New York
2  Charlie   35  Los Angeles

In [55]:
df[np.logical_and (df['Age'] > 25 , df['City'] == 'New York')]

    Name  Age      City
0  Alice   30  New York

In [52]:
df['Age'] > 25 & df['City'] == 'New York'

TypeError: Cannot perform 'rand_' with a dtyped [object] array and scalar of type [bool]

In [56]:
europe

{'spain': 'madrid',
 'france': 'paris',
 'germany': 'berlin',
 'norway': 'oslo',
 'italy': 'rome',
 'poland': 'warsaw',
 'austria': 'vienna',
 'india': 'delhi',
 'c': 'd',
 'a': 'b'}

In [57]:
del(europe['a'])

In [58]:
list =[1,2,3,4,5,6,7,8,9,0,1,2,3,4,5,6,77]

In [59]:
del(list[4])

In [60]:
list

[1, 2, 3, 4, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 77]

In [62]:
list.append(23)

In [63]:
list

[1, 2, 3, 4, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 77, 23]

In [65]:
df

      Name  Age           City
0    Alice   30       New York
1      Bob   25  San Francisco
2  Charlie   35    Los Angeles

In [68]:
df['Name','Age']

KeyError: ('Name', 'Age')