In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({
    'Color': ['Red','Blue', 'Green', 'Green', 'Red', 'Blue']
    })

In [3]:
df

   Color
0    Red
1   Blue
2  Green
3  Green
4    Red
5   Blue

In [4]:
from sklearn.preprocessing import LabelEncoder

In [5]:
label_encoder = LabelEncoder()

In [14]:
label_encoded = pd.DataFrame(label_encoder.fit_transform(df[['Color']]), columns=[['Encoded_Color']])

/Users/abhishekwaghchaure/opt/anaconda3/envs/main1/lib/python3.10/site-packages/sklearn/preprocessing/_label.py:116: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [15]:
label_encoded

  Encoded_Color
0             2
1             0
2             1
3             1
4             2
5             0

In [22]:
pd.concat((df,label_encoded),axis=1)

   Color  (Encoded_Color,)
0    Red                 2
1   Blue                 0
2  Green                 1
3  Green                 1
4    Red                 2
5   Blue                 0